body{
    background:white;
}
.header{
  
    box-shadow: 0px 10px 15px rgb(0, 0, 0);;
    padding: 30px;
}
.header .header_right h1{
    color: rgb(44, 28, 0);
}

.header .header_left{
    display: flex;
    gap: 30px;
}
.header .header_left .header_link{
    text-decoration: none;
    color:#2c2301;
    font-weight: bold;
}

.header .header_bars{
    width:40px; 
    display: none;
}
@media (max-width:900Px) 
{
    .header .container{
        width:100%;
    }
    
}
@media (max-width:550Px) 
{

    .header .header_left{
        display: none;
        
    }
    .header .header_bars{
        width:25px; 
        display: block;
        
    }
    .header .header_right h1{
        font-size: 20px;
    }

}
.Categories{
    margin-top: 50px;
   
    padding: 30px;
    
}
.Categories h1{
    color: rgb(44, 28, 0);
    text-align: center;
    font-size:30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;

}

.Categories .category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    text-align: center;
    border-top-right-radius: 110px;
    border-bottom-left-radius: 110px;
   
};
    
.Categories .category h2{
  color: rgb(44, 28, 0);
}
.Categories .category a{
    margin-top: 10px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(44, 28, 0);
}
.Categories .category a:hover{
    
    text-decoration:underline;
    font-size: 18px;
    
}
@media (max-width:1364px) 
{
    .Categories .category{
        width: 200px;
        height: 200px;
    }
}
@media (max-width:1146px) 
{
    .Categories .container{
        width: 100%;
        
    }
}
@media (max-width:900px) 
{
    .Categories .row{
        flex-direction: column;
        gap: 20px;

    }
}
.header{
   
    box-shadow: 0px 10px 15px rgb(44, 28 , 0);;
    padding: 30px;
}
.header .header_right h1{
    color: rgb(44, 28, 0);
}

.header .header_left{
    display: flex;
    gap: 30px;
}
.header .header_left .header_link{
    text-decoration: none;
    
    font-weight: bold;
}

.header .header_bars{
    width:40px; 
    display: none;
}
@media (max-width:900Px) 
{
    .header .container{
        width:100%;
    }
    
}
@media (max-width:550Px) 
{

    .header .header_left{
        display: none;
        
    }
    .header .header_bars{
        width:25px; 
        display: block;
        
    }
    .header .header_right h1{
        font-size: 20px;
    }

}

.products{
     
    padding: 30px;
}
.products .parent{
    display: flex;
    gap: 30px;
    
}

.products .parent .logo{
    width:50%;
    height: 50%;
   
}
img{
    width:350px;
    height:350px;
}
.parent .product_right{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
     padding: 30px;
    border-top-right-radius: 110px;
    border-bottom-left-radius: 110px;
   
     
    
}
.product_right .h{
    font-weight: bold;
    color: rgb(44, 28, 0);
   font-size: 30px;
 
}
.product_right .desc{
   font-size: 15px;
 
}
.product_right .price{
    font-weight: bold;
    color:rgb(44, 28, 0);
    font-size: 20px;
}
@media (max-width:1180px) 
{
    .parent .product_right{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .product_right .h{
        font-size: 20px;
    }
    .product_right .desc{
        font-size: 12px;
        font-weight: bold;
     }
}
@media (max-width:1070px) 
{
    .products .container{
        width:100%;
    }
    img{
        width:250px;
        height:250px;
    }
    .product_right .h{
        font-weight: bold;
        color: rgb(44, 28, 0);
       font-size: 30px;
     
    }
    .product_right .desc{
        font-size: 15px;
      
     }
   
}

@media (max-width:815px) 
{
    .products .parent{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .products .parent .product_left{
        display: flex;
        justify-content: center;
        
       
    }
   
}

@media (max-width:420px) 
{
    .products{
     
        padding: 10px;
    }

    img{
        width:150px;
        height:150px;
    }
    .parent .product_right{
        width:auto ;
        
    }
    .product_right .h{
        font-size: 15px;
    }
    .product_right .desc{
        font-size: 12px;
        font-weight: bold;
     }
}
